html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(1, 1, 31);
    color: white;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}
.wrapper {
    margin: 0 auto;
    position: absolute;
    min-width: 100%;
}
header {
    width: 100%;
    background-image: url("../images/usa.jpg");
    background-size: 100% 150%;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    padding: 0 0 60px 0;
    line-height: 1.5;
}

#hang {
    margin: 0;
    padding: 20px 0 0 20px;
    font-size: 80px;
    font-weight: bolder;
}

#begin {
    margin: 10px;
    margin-left: 10%;
}

/* adding CSS grid */
.grid-container {
    display: grid;
    position: relative;
    margin: 0 auto;
    width: 960px;
    grid-gap: 50px 0;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.grid-item-left {
    border: 1px dashed oldlace;
    padding: 20px;
    font-size: 30px;
    text-align: left;
}
  
.grid-item-right {
    border: 1px dashed oldlace;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#wordBoardText {
    letter-spacing: 5px;
}

#guessesText {
    letter-spacing: 5px;
}

#img {
    position: relative;
    width: 300px;
    border-radius: 8px;
    padding: 5px;
}

p {
    margin: 10px 0 10px 0; 
}

.push {
    margin: 50px;
    height: 0px;
}
  
footer {
    background: white;
    height: 30px;
    padding: 10px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}