html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    background-color: rgb(1, 1, 31);
    color: white;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-image: url("../images/usa.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    text-align: center;
    padding: 0 0 80px 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 150px;
    font-weight: bolder;
}

#begin {
    margin-left: 10%;
}

/* adding CSS grid */
.grid-container {
    display: grid;
    position: relative;
    margin: 0 auto;
    width: 1200px;
    grid-gap: 50px 0;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
  
.grid-item {
    border: 1px dashed oldlace;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#wordBoardText {
    letter-spacing: 5px;
}

#guessesText {
    letter-spacing: 5px;
}

ul {
    text-align: left;
}

.push {
    margin: 50px;
    height: 50px;
}
  
footer {
    background: #efeee7;
    height: 30px;
    padding: 10px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}